@use './variables' as *;
@use './mixins' as *;

.footer {
    padding: 3rem 1rem;
    background-color: $color-bandsite-black;
    color: $color-mercury;
    

    @include tablet {
        padding: 3rem;
        position: relative;
    }

    @include desktop {
        padding: 1rem 6rem;
    }

    &__row {
        @include tablet {
            display: flex;
            gap: 3rem;
            align-items: center;
        }
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 400;

    @include tablet {
        font-weight: 600;
        font-size: 2.5rem;
    }
    }

    &__icons {
        display: flex;
        width: 50%;
        gap: 4rem;

        @include tablet {
            gap: 1.5rem;
        }
    }

    &__icon {
        margin: 2rem 0;
        width: 4rem;
        height: 4rem;
        color: $color-bandsite-black;

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;

        }
    }

    &__columns {
        @include tablet {
            display: flex;
            gap: 2rem;
        }

        @include desktop {
            gap: 5rem;
        }
    }

    &__section {
        margin: 3rem 0;

        @include tablet {
            margin: 1rem 0;
        }
        &:last-of-type {
            padding-bottom: 4rem;
        }
    }

    &__subheading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__text { 
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 400;

        @include tablet {
            font-size: .875rem;
        }
        
    }

    &__logo {
        margin: 4rem 0 2rem;

        @include tablet {
            position: absolute;
            top: 4rem;
            right: 3rem;

        }
    }
}