@use './variables' as *;
@use './mixins' as *;

.footer {
    padding: 3rem 1rem;
    background-color: $color-background;
    color: $color-foreground-lightest;
    

    @include tablet {
        padding: 2rem;
        position: relative;
    }

    @include desktop {
        padding: 1rem 6rem;
    }

    &__row {
        @include tablet {
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        @include desktop {
            gap: 6rem;
        }
    }

    &__heading {
        font-size: 3.5rem;
        font-weight: 600;

    @include tablet {
        font-size: 2rem;
    }
    }

    &__icons {
        display: flex;
        width: 50%;
        gap: 4rem;
        

        @include tablet {
            gap: 1.5rem;
        }
    }

    &__icon {
        margin: 2rem 0;
        width: 3rem;
        height: 3rem;
        color: $color-background;

        @include tablet {
            width: 1.5rem;
            height: 1.5rem;

        }
    }

    &__columns {
        @include tablet {
            display: flex;
            gap: 2rem;
        }

        @include desktop {
            gap: 5rem;
        }
    }

    &__section {
        margin: 2rem 0;

        @include tablet {
            margin: 1rem 0;
        }
    }

    &__column {
        &:last-of-type {
            margin-bottom: 6rem;
        }

        @include tablet {

            &:last-of-type {
                margin-bottom: 2rem;
            }
        }
    }

    &__subheading {
        @include footer__text;
        font-weight: 700;

        @include tablet {
            font-size: .875rem;
        }
    }

    &__text { 
        @include footer__text;
        font-weight: 400;

        @include tablet {
            font-size: .875rem;
        }
        
    }

    &__mailto {
        color: $color-foreground-light;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__logo {
        margin: 4rem 0 2rem;

        @include tablet {
            position: absolute;
            top: 3rem;
            right: 3rem;
        }

        @include desktop {
            top: 2.5rem;
            right: 6rem;
        }
    }
}