@use './variables' as *;
@use './mixins' as *;

.footer {
    padding: 3rem 1rem;
    background-color: $color-bandsite-black;
    color: $color-mercury;
    

    @include tablet {
        padding: 3rem;
        position: relative;
    }

    &__row {
        @include tablet {
            display: flex;
            gap: 4rem;
            align-items: center;
        }
    }

    &__heading {
    font-size: 3.5rem;
    font-weight: 400;

    @include tablet {
        font-weight: 600;
    }
    }

    &__icons {
        display: flex;
        width: 50%;
        gap: 4rem;
    }

    &__icon {
        margin: 2rem 0;
        width: 4rem;
        height: 4rem;
        color: $color-bandsite-black;

        @include tablet {
            width: 2rem;
            height: 2rem;

        }
    }

    &__columns {
        @include tablet {
            display: flex;
            justify-content: space-between;
            // gap: 3rem;
        }
    }

    &__section {
        margin: 3rem 0;

        &:last-of-type {
            padding-bottom: 4rem;
        }
    }

    &__subheading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__text { 
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 400;

        @include tablet {
            font-size: 1rem;
        }
        
    }

    &__logo {
        margin: 4rem 0 2rem;

        @include tablet {
            position: absolute;
            top: 15vh;
            right: 5vw;

        }
    }
}