@use './variables' as *;
@use './mixins' as *;

// HEADER

.logo__bandsite {
    height: 1.25rem;
    margin: 0.5rem 0;

    @include tablet {
        height: 1.25rem;
    }

    @include desktop {
        height: 1rem;
    }
}

.header{ 
    display: flex;
    flex-direction: column;
    background-color: $color-background;
    align-items: center;
    padding-top: .25rem;
    font-weight: normal;

    @include tablet {
        flex-direction: row;
        padding: $tablet-padding;
    }

    @include desktop {
        padding: $desktop-padding;
    }
  

    &__buttons{
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @include tablet {
            width: 40%;
        }

        @include desktop {
            width: 30%;
        }


    }

    &__button {
        color: $color-foreground-light;
        text-decoration: none;
        padding-bottom: 1rem;
        width: 50%;
        text-align: center;
        font-size: .875rem;
        font-weight: 400;
        border-bottom: 4px solid transparent;
        transition: all .3s ease;

        @include tablet {
            padding: 1.5rem 0;
            width: auto;
            font-size: .875rem;
        }

        @include desktop {
            font-size: .875rem;
            
        }

        &--active {
            border-bottom: 4px solid $color-foreground-light;
            font-weight: bold;
        }

        &:hover,
        &:active {
            color: $color-white;
            border-bottom: 4px solid $color-white;
        }
    }
}
