@use 'variables' as *;

@mixin footer__text {
    line-height: 1.5rem;
}

@mixin avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $color-foreground-light;
}

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content
    }
};

@mixin desktop {
    @media(min-width: $desktop-width) {
        @content
    }
}

