$color-background: #323232;
$color-background-dark: #000000;
$color-foreground-lightest: #fafafa;
$color-foreground-light: #e1e1e1;
$color-foreground: #afafaf;
$color-white: #fff;

$tablet-width: 768px;
$desktop-width: 1280px;