$color-background: #323232;
$color-background-dark: #000000;
$color-foreground-lightest: #fafafa;
$color-foreground-light: #e1e1e1;
$color-foreground: #afafaf;
$color-white: #fff;

$tablet-width: 768px;
$desktop-width: 1280px;

$tablet-padding: 0 3rem;
$desktop-padding: 0 6rem;

$footer-text-line-height: 1.5rem;