@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.footer {
  padding: 1.5rem 1rem;
  background-color: #323232;
  color: #fafafa;
}
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 1rem 6rem;
  }
}
@media (min-width: 768px) {
  .footer__row {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__row {
    gap: 6rem;
  }
}
.footer__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2rem;
  }
}
.footer__icons {
  display: flex;
  width: 50%;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__icons {
    gap: 1.5rem;
  }
}
.footer__icon {
  margin: 1rem 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__columns {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__columns {
    gap: 5rem;
  }
}
.footer__section {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__section {
    margin: 1rem 0;
  }
}
.footer__column:last-of-type {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .footer__column:last-of-type {
    margin-bottom: 2rem;
  }
}
.footer__subheading {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__subheading {
    font-size: 0.875rem;
  }
}
.footer__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 0.875rem;
  }
}
.footer__mailto {
  color: #e1e1e1;
  text-decoration: none;
}
.footer__mailto:hover {
  text-decoration: underline;
}
.footer__logo {
  margin: 4rem 0 2rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 2.5rem;
    right: 6rem;
  }
}

.logo__bandsite {
  height: 1.25rem;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .logo__bandsite {
    height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .logo__bandsite {
    height: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  align-items: center;
  padding-top: 0.25rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 3rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 6rem;
  }
}
.header__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (min-width: 768px) {
  .header__buttons {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .header__buttons {
    width: 30%;
  }
}
.header__button {
  color: #e1e1e1;
  text-decoration: none;
  padding-bottom: 1rem;
  width: 50%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .header__button {
    padding: 2rem 0;
    width: auto;
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .header__button {
    font-size: 0.875rem;
  }
}
.header__button--active {
  border-bottom: 4px solid #e1e1e1;
  font-weight: bold;
}
.header__button:hover, .header__button:active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  height: 12rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 1280px) {
  .hero {
    height: 35rem;
  }
}
.hero__heading {
  padding: 0 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero__heading {
    padding: 0 3rem;
    font-size: 4rem;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    padding: 0 6rem;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 12rem;
  width: 100%;
}
@media (min-width: 1280px) {
  .hero__overlay {
    height: 35rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  color: #323232;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding: 2rem 6rem;
  }
}
.about__heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.25rem 0;
  align-self: flex-start;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .about__container {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .about__container {
    width: 85%;
  }
}
.about__img {
  margin: 1rem 0;
  width: 100%;
  padding-bottom: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50vw;
}
@media (min-width: 768px) {
  .about__img {
    height: 45vw;
  }
}
@media (min-width: 1280px) {
  .about__img {
    height: 40vw;
  }
}
.about__quote {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .about__quote {
    padding-bottom: 0.5rem;
  }
  .about__quote:last-of-type {
    font-size: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    width: 75%;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .about__quote:last-of-type {
    font-size: 1rem;
  }
}
.about__subheading {
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
  align-self: flex-start;
}
@media (min-width: 1280px) {
  .about__subheading {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about__paragraph-container {
    display: flex;
  }
}
.about__paragraph {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.175rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .about__paragraph {
    font-size: 0.875rem;
  }
}

.gallery {
  background-color: #fafafa;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .gallery {
    padding: 2rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    padding: 3rem 6rem;
  }
}
@media (min-width: 768px) {
  .gallery__image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery__image-container {
    gap: 1rem;
  }
}
.gallery__heading {
  color: #323232;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 0;
}
.gallery__img {
  width: 100%;
  padding-bottom: 1rem;
  filter: grayscale(1);
  transition: 0.3s ease;
}
.gallery__img:hover {
  filter: grayscale(0);
}
@media (min-width: 768px) {
  .gallery__img {
    padding: 0;
    width: 31%;
  }
  .gallery__img:hover {
    transform: scale(1.25);
    z-index: 10;
  }
}
@media (min-width: 1280px) {
  .gallery__img {
    width: 32%;
  }
  .gallery__img:hover {
    transform: scale(1.5);
    z-index: 10;
  }
}

.comments {
  padding: 1rem;
}
.comments__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.comments > * {
  outline: 1px solid red;
}

.comments-form__img {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
}/*# sourceMappingURL=bio.css.map */