@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: demi;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #e1e1e1;
  align-items: center;
  padding-top: 1rem;
  font-weight: normal;
}
.header__heading {
  height: 2rem;
  line-height: 2rem;
}
.header__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.header__button {
  color: #e1e1e1;
  text-decoration: none;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.header__button--active {
  border-bottom: 4px solid #e1e1e1;
  font-weight: bold;
}
.header__button:hover, .header__button:active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.hero__heading {
  padding: 0 1rem;
  font-size: 3rem;
  font-weight: 400;
  z-index: 2;
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 30rem;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  color: #323232;
  background-color: #fff;
  padding: 1rem;
}
.about__heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 1.5rem 0;
}
.about__img {
  margin: 1rem 0;
  width: 100%;
  padding-bottom: 1rem;
}
.about__quote {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.5rem;
  padding-bottom: 1.5rem;
}
.about__subheading {
  font-weight: 400;
  line-height: 1.375rem;
  font-size: 1.75rem;
  padding: 2rem 0;
}
.about__paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.25rem;
  padding-bottom: 1rem;
}

.gallery {
  background-color: #e1e1e1;
  padding: 1rem;
}
.gallery__heading {
  color: #323232;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 0;
}
.gallery__img {
  width: 100%;
  padding: 0.5rem 0;
}/*# sourceMappingURL=bio.css.map */