@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.footer {
  padding: 1.5rem 1rem;
  background-color: #323232;
  color: #fafafa;
}
@media (min-width: 768px) {
  .footer {
    padding: 2rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 1rem 6rem;
  }
}
@media (min-width: 768px) {
  .footer__row {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__row {
    gap: 6rem;
  }
}
.footer__heading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 2rem;
  }
}
.footer__icons {
  display: flex;
  width: 50%;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer__icons {
    gap: 1.5rem;
  }
}
.footer__icon {
  margin: 1rem 0;
  width: 1.5rem;
  height: 1.5rem;
  color: #323232;
}
@media (min-width: 768px) {
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__columns {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__columns {
    gap: 5rem;
  }
}
.footer__section {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .footer__section {
    margin: 1rem 0;
  }
}
.footer__column:last-of-type {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .footer__column:last-of-type {
    margin-bottom: 2rem;
  }
}
.footer__subheading {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__subheading {
    font-size: 0.875rem;
  }
}
.footer__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 0.875rem;
  }
}
.footer__text--mailto {
  color: #e1e1e1;
  text-decoration: none;
}
.footer__text--mailto:hover {
  text-decoration: underline;
}
.footer__text--copyright {
  font-size: 0.675rem;
}
@media (min-width: 768px) {
  .footer__text--copyright {
    font-size: 0.875rem;
  }
}
.footer__logo {
  margin: 4rem 0 2rem;
}
@media (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 2.5rem;
    right: 6rem;
  }
}

.logo__bandsite {
  height: 1.25rem;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .logo__bandsite {
    height: 1.25rem;
  }
}
@media (min-width: 1280px) {
  .logo__bandsite {
    height: 1rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  align-items: center;
  padding-top: 0.25rem;
  font-weight: normal;
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 8rem;
  }
}
.header__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (min-width: 768px) {
  .header__buttons {
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .header__buttons {
    width: 30%;
  }
}
.header__button {
  color: #e1e1e1;
  text-decoration: none;
  padding-bottom: 1rem;
  width: 50%;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .header__button {
    padding: 1.5rem 0;
    width: auto;
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .header__button {
    font-size: 0.875rem;
    padding: 2rem 0;
  }
}
.header__button--active {
  border-bottom: 4px solid #e1e1e1;
  font-weight: bold;
}
.header__button:hover, .header__button:active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvenirNext LT Pro";
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  height: 17rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 82px;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 31rem;
    margin-top: 70px;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 39rem;
    flex-direction: row;
    align-items: center;
    margin-top: 86px;
  }
}
.hero__text {
  z-index: 3;
}
.hero__subheading {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .hero__subheading {
    padding: 0 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .hero__subheading {
    padding: 0 8rem;
  }
}
.hero__heading {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 600;
  width: 70%;
}
@media (min-width: 768px) {
  .hero__heading {
    margin-top: 0;
    padding: 0 2rem;
    font-size: 3.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    padding: 0 8rem;
    width: 100%;
  }
}
.hero__overlay {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 17rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__overlay {
    height: 31rem;
  }
}
@media (min-width: 1280px) {
  .hero__overlay {
    height: 39rem;
  }
}

.audio-player {
  z-index: 1;
  height: 40%;
}
@media (min-width: 768px) {
  .audio-player {
    height: 30%;
    width: 60%;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .audio-player {
    width: 50%;
    height: 25%;
    margin-top: 4rem;
  }
}

@media (min-width: 1280px) {
  .shows {
    display: flex;
  }
}
.shows__heading {
  padding: 1rem 1rem 0;
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .shows__heading {
    padding: 2rem;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows__heading {
    padding: 2rem 8rem;
  }
}
.shows__list {
  list-style-type: none;
}
@media (min-width: 768px) {
  .shows__list {
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .shows__list {
    padding: 3.5rem 0 2rem;
    width: 65%;
    justify-self: flex-end;
  }
}
.shows__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem;
}
.shows__item:hover {
  background-color: #fafafa;
}
.shows__item:active {
  background-color: #e1e1e1;
}
.shows__item--selected {
  background-color: #e1e1e1;
}
.shows__item--selected:hover {
  background-color: #e1e1e1;
}
.shows__item--selected:active {
  background-color: #afafaf;
}
@media (min-width: 768px) {
  .shows__item {
    flex-direction: row;
    align-items: center;
    padding-bottom: 0.5rem;
    margin: 0 1rem;
  }
  .shows__item:not(:first-child) .shows__subheading {
    display: none;
  }
}
.shows__info {
  margin: 0.25rem 0;
}
@media (min-width: 768px) {
  .shows__info {
    width: 20%;
  }
}
.shows__subheading {
  text-transform: uppercase;
  color: #afafaf;
  font-weight: 400;
}
@media (min-width: 768px) {
  .shows__subheading {
    padding-bottom: 1rem;
  }
}
.shows__text {
  padding: 0.5rem 0;
  font-size: 0.75rem;
  color: #000000;
}
.shows__text--date {
  font-weight: 600;
  color: #323232;
}
@media (min-width: 1280px) {
  .shows__text {
    font-size: 0.875rem;
  }
}
.shows__button {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #fff;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.shows__button:hover {
  background-color: #000000;
}
.shows__button:active {
  transform: scale(0.98) translate(1%, 1%);
}
@media (min-width: 768px) {
  .shows__button {
    width: auto;
    padding: 0 2rem;
  }
}/*# sourceMappingURL=shows.css.map */